@model Course
@{
    ViewData["Title"] = "AddForm";
}

<h1>Add New Course</h1>

<form action="/course/AddInDB">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name"/>
    <br />

    <label for="Description">Description</label>
    <input type="text" id="Description" name="Description" />
    <br />


    <label for="totalHours">Total Hours</label>
    <input type="number" id="totalHours" name="totalHours" />
    <br />

    <label for="FullMark">Full Mark</label>
    <input type="number" id="FullMark" name="FullMark" />
    <br />

    <label for="PassMark">Pass Mark</label>
    <input type="number" id="PassMark" name="PassMark" />
    <br />

    <label for="instructor">Instructor</label>
    <select name="ins_Id" id="instructor">
        @foreach (Instructor ins in ViewBag.Ins)
        {
            <option value="@ins.Id">@ins.Name</option>
        }     
    </select>
    <br />

    <input type="submit" value="Add"/>
</form>

